<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DSN" value="Persist Security Info=False;User ID=sndpro; Password=sqa@123;Initial Catalog=FulcrumDB;Data Source=ws2016"></add>
    <add key="CSDP" value="Persist Security Info=False;User ID=sndpro; Password=sqa@123;Initial Catalog=UGL_NDB;Data Source=db19\sqlserver2014"></add>
  </appSettings>

  
    
</configuration>